{{ partial "html-header.html" . }}
{{ partial "page-header.html" . }}

<div id="content">
{{ partial "menu-chores.html" . }}

{{ $params := .Params }}

{{ $annees_short := $params.annees_short }}
{{ $annees_long := $params.annees_long }}
{{ $descr_danses := .Site.Data.chores }}
{{ $descr_niveaux := .Site.Data.niveaux }}

<br/>

<table style="margin-left: auto; margin-right: auto; border:1">
  <tr style="text-align: center; font-size: 20pt; ">
    {{ range $niv := $descr_niveaux.niveaux }}
    {{ $niveau := index $descr_niveaux $niv }}
    <td style="padding: 5px 15px 5px 15px; background-color: #{{ $niveau.bgcolor}};"><a href="/{{$niv}}-{{$annees_short}}/">{{$niveau.nivname}}</a></td>
    {{ end }}
  </tr>
</table>

{{ $niv := $params.niveau }}
{{ $niveau := index $descr_niveaux $niv }}

<h1>Chorégraphies niveau &laquo;&nbsp;{{$niveau.nivname}}&nbsp;&raquo; {{$annees_long}}</h1>

{{ $comment := $params.comment }}
{{ if $comment }}
<p>{{ $comment }}</p>
{{ end }}

<table style="margin-left: auto; margin-right: auto;">
  <thead>
  <tr>
    <th style="text-align: center; font-size: 20pt; background-color: #{{ $niveau.bgcolor}};" colspan="4"> {{ $niveau.nivname }}</th>
  </tr>
  <tr style="background-color: #{{ $niveau.bgcolor}};">
    <th style="padding-left:1em; padding-right:1em;">Titre</th>
    <th style="padding-left:1em; padding-right:1em;">Fiche de pas</th>
    <th style="padding-left:1em; padding-right:1em;">Démo en vidéo</th>
    <th style="padding-left:1em; padding-right:1em;">Cours en vidéo</th>
  </tr>
  </thead>
  <tbody>
  {{ range $name := $params.danses }}
  {{ $danse := index $descr_danses $name }}
  <tr>
    <td style="padding-left:1em; padding-right:1em;"><em>{{if $danse.titre}}{{$danse.titre}}{{else}}{{$name}}{{end}}</em></td>
    <td><a href="{{ $danse.fiche }}"><img src="/images/fichedepas.png" height="32" alt="fiche de pas"/></a></td>
    <td><a href="{{ $danse.demo }}"><img src="/images/video.png" height="38" alt="video"/></a></td>
    <td> {{ $cours := $danse.cours }} {{ if $cours }}
      <a href="{{ $cours }}"><img src="/images/video.png" height="38" alt="video"/></a>
      {{ else }} - {{ end }}
    </td>
  </tr>
  {{ end }}
  </tbody>
</table>

</div>

{{ partial "page-footer.html" . }}
