{{ partial "html-header.html" . }}
{{ partial "page-header.html" . }}

<div id="content">

<h1>Toutes les chorégraphies de A à Z</h1>

<table style="margin-left: auto; margin-right: auto; ">
  <thead>
  <tr style="background-color: #ccc;">
    <th>Titre</th>
    <th style="padding-left:1em; padding-right:1em;">Fiche de pas</th>
    <th style="padding-left:1em; padding-right:1em;">Démo en vidéo</th>
    <th style="padding-left:1em; padding-right:1em;">Cours en vidéo</th>
  </tr>
  </thead>
  <tbody>
  {{ range $name, $danse := .Site.Data.chores }}
  <tr>
    <td style="padding-left:1em; padding-right:1em;"><em>{{if $danse.titre}}{{$danse.titre}}{{else}}{{$name}}{{end}}</em></td>
    <td><a href="{{$danse.fiche}}"><img src="/images/fichedepas.png" height="32" alt="fiche de pas"/></a></td>
    <td><a href="{{$danse.demo}}"><img src="/images/video.png" height="38" alt="video"/></a></td>
    <td> {{ $cours := $danse.cours }} {{ if $cours }}
        <a href="{{$cours}}"><img src="/images/video.png" height="38" alt="video"/></a>
      {{ else }} - {{ end }}
    </td>
  </tr>
  {{ end}}
  </tbody>
</table>

</div>

{{ partial "page-footer.html" . }}
