<table  style="width:100%;background-color:#f0f0e0;border:2px solid #888;margin-bottom:.5em;">
  <tr style="font-size: 20pt; background-color: #f0f0e0;">
   <td style="padding-left:1em; padding-right:1em;"><a href="/{{ . }}-2526/">2025-2026</a></td>
   <td style="padding-left:1em; padding-right:1em;"><a href="/{{ . }}-2425/">2024-2025</a></td>
   <td style="padding-left:1em; padding-right:1em;"><a href="/{{ . }}-2324/">2023-2024</a></td>
   <td style="padding-left:1em; padding-right:1em;"><a href="/toutes/">de A à Z</a></td>
  </tr>
</table>
