<body>
<div id="wrap">
<div id="header">
  <div style="float:left">
    <img src="/images/aldc-final.svg" height="160" alt="logo"/>
  </div>
  <div style="float:right">
    <img src="/images/aldc-final.svg" height="160" alt="logo"/>
  </div>
  <p>À Lévis Danse Country</p>
</div>
<div id="nav">
<table style="width:100%;background-color:#f0f0e0;border:2px solid #888;margin-bottom:0.5em;">
  <tr>
    <td><a href="/">Accueil</a></td>
    <td><a href="/agenda/">Agenda</a></td>
    <td><a href="/debutant-2526/">Chorégraphies</a></td>
  </tr>
</table>
