<body>
<div id="wrap">
<div id="header">
  <div style="float:left">
    <img src="/images/aldc-final.svg" height="160" alt="logo"/>
  </div>
  <div style="float:right">
    <img src="/images/aldc-final.svg" height="160" alt="logo"/>
  </div>
  <p>À Lévis Danse Country</p>
</div>
<div id="nav">
<ul>
<li><a href="/">Accueil</a>
<li><a href="/agenda/">Agenda</a>
<li><a href="/debutants-2526/">Chorégraphies</a>
  <ul>
    <li><a href="/debutants-2526/">2025-2026</a>
    <li><a href="/debutants-2425/">2024-2025</a>
    <li><a href="/debutants-2324/">2023-2024</a>
    <li><a href="/toutes/">de A à Z</a>
  </ul>
<!--li><a href="/faq/">Bonus</a>
  <ul>
    <li><a href="/faq/">F.A.Q.</a>
    <li><a href="/recettes/">Recettes</a>
  </ul-->
</ul>
</div>
