{{ partial "html-header.html" . }}
{{ partial "page-header.html" . }}

</div>

<div id="content">

{{ .Content }}


<table border="0" align="center">
<tbody>
<tr>
<td style="border: 1px solid #8b0000; background-color: #a0ffff;">15 novembre 2025</td>
<td style="border: 1px solid #8b0000; background-color: #a0ffff;">Workshops des Chrystels Arreou et Durand, et Bal aux Essarts-le-Roi, <a href="https://www.facebook.com/photo/?fbid=732772745742709&set=a.216639887356000&locale=fr_FR">l'affiche</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">8 novembre 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Workshop Chrystel Arreou et Bal à Gruchet, <a href="images/stories/2024_2025/2025nov8-gruchet.jpg">l'affiche</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffc0d0;">19-25 octobre et 26 oct-01 nov 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffc0d0;">Séjours à Salou, Espagne, voir <strong><a href="https://krystarcountry.wixsite.com/country/salou-octobre-2025">ce site</a></strong></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffd0d0;">4 octobre 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffd0d0;">Workshop/Bal à Claville, <a href="images/stories/2024_2025/2025oct4-elpaso-affiche.jpg">affiche</a> et <a href="images/stories/2024_2025/2025oct4-elpaso-inscription.jpg">inscription</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Dimanche 31 Aout 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Repas et Danse au Buffalo Grill de Plaisir, <a href="https://www.facebook.com/photo/?fbid=805494128470570&set=ecnf.100070299692045">l'affiche</a> et la <a href="https://www.facebook.com/photo/?fbid=805494211803895&set=ecnf.100070299692045">playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Dimanche 31 aout 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Bal à Poissy, <a href="https://country-news.com/calendrier/evenements/78-poissy-am-bal-country-et-line-dance-le-31-08-25/">infos</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffffa0;">Samedi 30 aout 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffffa0;">Bal en plein air
à Tourouvre-au-Perche, <a href="https://www.facebook.com/groups/567912122421662/posts/768086502404222/">infos</a></td>
</tr>
</tbody>
</table>


<h2>Saison 2024-2025</h2>


<table border="0" align="center">
<tbody>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">25-26 juillet 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">American Days, Le Barp, <a href="images/stories/2024_2025/2025jul25-26-le-barp.jpg">infos</a> et <a href="images/stories/2024_2025/2025jul25-26-le-barp-2.jpg">programme</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Dimanche 29 juin 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Repas et Danse au Buffalo Grill de Plaisir</td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #b0ffff;">27-28-29 juin 2025</td>
<td style="border: 1px solid #8b0000; background-color: #b0ffff;">Festival Thomas Ranch, Contigné <a href="https://thomas-ranch-festival.net/">site</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">22 juin 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Bal et Concert à Elancourt, <a href="images/stories/2024_2025/2025jun22-elancourt.jpg">l'affiche</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #b0ffff;">6-7-8 juin 2025</td>
<td style="border: 1px solid #8b0000; background-color: #b0ffff;">Festi'Country, Les Angles, <a href="images/stories/2024_2025/2025jun678-festicountry-affiche.jpg">affiche</a> </td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Samedi 24 mai 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Bal à Beynes, <a href="images/stories/2024_2025/2025mai24-beynes-affiche.jpg">l'affiche</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Vendredi 23 mai 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Bal à Montigny les Cormeilles, <a href="">les talons noirs</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffd0d0;">17 mai 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffd0d0;">Bal en plein air, Neauphlette, <a href="https://www.neauphlette.fr/article_268_1_danse-country_fr.html">infos</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #d0ffff;">11 mai 2025</td>
<td style="border: 1px solid #8b0000; background-color: #d0ffff;">Le bal pour Léo, aux Essarts-le-Roi, <a href="images/stories/2024_2025/2025mai11-bal-pour-leo.jpg">les infos, avec bulletin d'inscription</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #d0ffc0;">19-20 avril 2025</td>
<td style="border: 1px solid #8b0000; background-color: #d0ffc0;">Americ'ain Festival, Artemare, <a href="https://country-news.com/calendrier/evenements/01-artemare-americain-festival-country-2-les-19-et-20-04-25/">infos</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffffc0;">29 et 30 mars 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffffc0;">Festival Country à Maurepas, <a href="images/stories/2024_2025/2025mars29-30-festival-rn10-affiche.pdf">l'affiche</a>, le <a href="images/stories/2024_2025/2025mars29-30-festival-rn10-inscription.pdf">bulletin d'inscription</a>, le <a href="images/stories/2024_2025/2025mars29-30-festival-rn10-programme.jpg">programme</a>, la <a href="images/stories/2024_2025/2025mars29-festival-rn10-playlist.jpg">playlist du samedi</a>, la <a href="images/stories/2024_2025/2025mars30-festival-rn10-playlist.jpg">playlist du dimanche</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffd0d0;">15 mars 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffd0d0;">Workshop Chrystel Arreou et Vince Julien, et bal à Garnay, <a href="images/stories/2024_2025/2025mar15-garnay.jpg">l'affiche</a> et <a href="images/stories/2024_2025/2025mar15-garnay-playlist.jpg">la playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffffc0;">1 et 2 mars 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffffc0;">Workshops et Bals à Feuguerolles Bully <a href="https://forevercountry.fr/index.php/2019/11/04/workshop-et-bal-flocar-ccs-samedi-01-et-dimanche-02-mars-2025-feuguerolles-bully-14/">infos</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Dimanche 23 février 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Repas et Danse au Buffalo Grill de Plaisir, <a href="images/stories/2024_2025/2025fev23-buffalo-affiche.jpg">l'affiche</a> et la <a href="images/stories/2024_2025/2025fev23-buffalo-playlist.jpg">playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #d0ffd0;">9 février 2025</td>
<td style="border: 1px solid #8b0000; background-color: #d0ffd0;">Bal à Montigny, <a href="images/stories/2024_2025/2025fev9-montigny-affiche.pdf">l'affiche</a> et la <a href="images/stories/2024_2025/2025fev9-montigny-playlist.pdf">playlist</a> </td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Dimanche 26 janvier 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Repas et Danse au Buffalo Grill de Plaisir, <a href="images/stories/2024_2025/2025jan26-buffalo-affiche.pdf">l'affiche</a> et la <a href="images/stories/2024_2025/2025jan26-buffalo-playlist.pdf">playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">18 janvier 2025</td>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Bal et Concert Rocking Chairs à Criquetot, <a href="https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/466149278_10225213170467096_4402137107363112975_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=aa7b47&_nc_ohc=Nd-Ue9Ze6FUQ7kNvgGA5s2Y&_nc_zt=23&_nc_ht=scontent-cdg4-2.xx&_nc_gid=A6k6rMeQBYNL0ubbo-TlYKw&oh=00_AYBdlXc2CkwHKsZxOrl6oWRPXrh_ealB2mrb_r3NZqqfdw&oe=6744D99A
">l'affiche</a> et la <a href="">playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #e0e0ff;">12 janvier 2025</td>
<td style="border: 1px solid #8b0000; background-color: #e0e0ff;">Repas partage avec RN10 à partir de 12h, salle polyvalente de Lévis-Saint-Nom, playlist à la demande</td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #b0ffff;">Dimanche 8 décembre 2024</td>
<td style="border: 1px solid #8b0000; background-color: #b0ffff;">Bal du Téléthon animé par Chartres-Country, <a href="http://www.chartres-country.fr/medias/files/cc-bal-telethon-2024-aff-v1.jpg">affiche</a> et <a href="http://www.chartres-country.fr/medias/files/cc-luisant-telethon-20241208-pl-b.pdf">playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Samedi 16 novembre 2024</td>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Workshop/Bal avec Stefano Civa, aux Essarts-le-Roi, le <a href="images/stories/2024_2025/2024nov16-flyer.pdf">flyer</a> (COMPLET!), le <a href="images/stories/2024_2025/2024nov16-programme.pdf">programme</a> et la <a href="images/stories/2024_2025/2024nov16-playlist.pdf">playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #d0ffd0;">Samedi 9 novembre 2024</td>
<td style="border: 1px solid #8b0000; background-color: #d0ffd0;">Bal à Plaisir avec le groupe Rockin'Chairs, <a href="https://www.rockinchairs.fr/documents/affiche-bal-chd-09-11-2024.png">l'affiche avec playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffffc0;">Samedi 9 novembre 2024</td>
<td style="border: 1px solid #8b0000; background-color: #ffffc0;">Bal des SO Country, Sainte Marie des Champs, <a href="https://country-news.com/calendrier/evenements/76-ste-marie-des-champs-workshops-et-bal-country-le-09-11-24/">infos</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Dimanche 3 novembre 2024</td>
<td style="border: 1px solid #8b0000; background-color: #ffc0ff;">Repas et Danse au Buffalo Grill de Plaisir, <a href="images/stories/2024_2025/2024nov3-buffalo-affiche.pdf">l'affiche</a> et la <a href="2024_2025/2024nov3-buffalo-playlist">playlist</a></td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffc0d0;">20-26 octobre 2024</td>
<td style="border: 1px solid #8b0000; background-color: #ffc0d0;">Séjour à Salou, Espagne, voir <strong><a href="https://krystarcountry.wixsite.com/country/copie-de-salou-du-14-au-20-avril-2024">ce site</a></strong> (complet!)</td>
</tr>
<tr>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Dimanche 22 septembre 2024</td>
<td style="border: 1px solid #8b0000; background-color: #ffa0ff;">Bal au Karpe Diem de Coignières, <a href="images/stories/2024_2025/2024sep22-karpediem-affiche.jpg">affiche</a> et la <a href="images/stories/2024_2025/2024sep22-karpediem-playlist.pdf">playlist</a></td>
</tr>
</tbody>
</table>

</div>

{{ partial "page-footer.html" . }}
