{{ partial "html-header.html" . }}
{{ partial "page-header.html" . }}

{{ $donnees := .Site.Data.chores }}
{{ $params := .Params }}

<div id="content">

<h1>Chorégraphies 2024-2025</h1>

{{ $niveaux_descr := .Site.Data.niveaux }}

{{ range $niveaux := $params.niveaux }}

<div style="display:flex;  flex: 50%; padding: 5px;">

{{ range $niveau := $niveaux }}
{{ $niv := index $params $niveau }}

<a name="{{$niveau}}"></a>
<table style="margin: 4px">
  <tr>
    <td style="text-align: center; font-size: 14pt; background-color: #{{ $niv.bgcolor}};" colspan="4"> {{ $niv.nivname }}</td>
  </tr>
  <tr>
    <td>Titre</td>
    <td>Fiche de pas</td>
    <td>Démo en vidéo</td>
    <td>Cours en vidéo</td>
  </tr>
  {{ range $id := $niv.danses }}
  {{ $danse := index $donnees $id }}
  <tr>
    <td><em>{{ $id }}</em></td>
    <td><a href="{{ $danse.fiche }}"><img src="/images/fichedepas.png" height="32" alt="fiche de pas"/></a></td>
    <td><a href="{{ $danse.demo }}"><img src="/images/video.png" height="38" alt="video"/></a></td>
    <td> {{ $cours := $danse.cours }} {{ if $cours }}
      <a href="{{ $cours }}"><img src="/images/video.png" height="38" alt="video"/></a>
      {{ else }} - {{ end }}
    </td>
  </tr>
  {{ end }}
</table>

{{ end }}

</div>

{{ end }}

</div>

{{ partial "page-footer.html" . }}
