{{ partial "html-header.html" . }}
{{ partial "page-header.html" . }}

</div>

<div id="content" style="display: flex; flex-wrap: wrap">

<div style="margin-left: auto; margin-right: auto;">
<!--h3>Nous serons présents aux forums des associations :</h3>

  <ul>
    <li>de Lévis Saint-Nom, vendredi 5 septembre 2025.</li>
    <li>des Essarts-le-Roi, samedi 13 septembre 2025.</li>
  </ul-->

<h3>  Premiers cours de la saison 2025-2026 </h3>

<p>
  Mercredi <b>10</b> septembre 2025, débutants à 20h, novices à 21h
  (salle municipale de Girouard, Place Yvon Esnault, 78320 Lévis-Saint-Nom).
</p>

<p>
  Jeudi <b>18</b> septembre 2025, intermédiaires à 20h15, catalan à 21h15
  (salle polyvalente de l'Yvette, 8 Route d'Yvette, 78320 Lévis-Saint-Nom).
</p>

<p>
  Les cours ont lieu chaque semaine hors vacances scolaires et jours
  de congés.
</p>

<h3>
  Vous pouvez télécharger notre <a href="images/2025-Inscription.pdf">fiche d'inscription</a>.
</h3>

<h3>
  Les cours de septembre sont des cours d'essai gratuits, n'hésitez pas à venir essayer !
</h3>
</div>

<div style="margin-left: auto; margin-right: auto;">
    <img width="200" src="images/groupe.svg" alt="danseurs" />
    <img width="200" src="images/groupe.svg" alt="danseurs" />
    <img width="200" src="images/groupe.svg" alt="danseurs" />
</div>

</div>


<div id="content">

<p>L'association À Lévis Danse Country (ALDC) assure la promotion de
la <a href="https://fr.wikipedia.org/wiki/Danse_en_ligne">danse en
ligne</a> (en particulier la danse
country, qui est tout simplement la
danse en ligne sur de
la <a href="https://fr.wikipedia.org/wiki/Musique_country">musique
country</a>) dans les Yvelines par :
<ul>
<li> des <a href="/debutant-2526/">cours chaque semaine</a> pour tous les niveaux ;
<li> des démos lors d'évènements festifs divers ;
<li> la co-organisation de <a href="/agenda/">bals et de workshops</a> ;
<li> diverses manifestations (repas partage, pique-niques) proposées à
tous les adhérents.
</ul>
</p>

<p>Pratiquer la danse en ligne c'est :
<ul>
<li> participer à une activité en groupe pour oublier ses soucis
quotidiens ;
<li> apprendre à chaque cours, en groupe, une <a href="/debutant-2425/">nouvelle danse</a>, et
réviser les <a href="/debutant-2425/">danses apprises auparavant</a> ;
<li> danser sans se prendre au sérieux en privilégiant la bonne humeur ;
<li> pratiquer à tout âge, que l'on sache déjà danser ou pas, que l'on
soit seul ou accompagné (conjoint.e, enfants, ami.e.s) ;
<li> prendre du plaisir en s'amusant et en chassant le stress.
</ul>
la danse en ligne est ainsi une activité de loisirs festive qui se
déroule dans une ambiance conviviale et détendue.
</p>

</div>

<p>Courriel : <a href="mailto:alevisdanse@gmail.com">alevisdanse@gmail.com</a>
</p>

<p>Tél : 06 51 63 66 26 (Christine)</p>

{{ partial "page-footer.html" . }}
