{{ partial "html-header.html" . }}
{{ partial "page-header.html" . }}

{{ partial "menu-chores.html" "debutant" }}

</div>

<div id="content">

  {{ .Content }}

Nombre de chorégraphies à ce jour: {{ .Site.Data.chores | len }}.</p>

<p>Accès rapide: <span  style="font-size: 20pt; ">{{
  $last := "" }}{{
  range $name, $danse := .Site.Data.chores }}{{
  $i := strings.Substr $name 0 1 }}{{
  if ne $i $last }}{{
  $last = $i }}
   &nbsp; <a href="#{{$i}}">{{ $i }}</a>{{ end }}{{ end }}
</span></p>


<table style="margin-left: auto; margin-right: auto; ">
  <thead>
  <tr style="background-color: #ccc;">
    <th>Titre</th>
    <th style="padding-left:1em; padding-right:1em;">Fiche de pas</th>
    <th style="padding-left:1em; padding-right:1em;">Démo en vidéo</th>
    <th style="padding-left:1em; padding-right:1em;">Cours en vidéo</th>
    <th style="padding-left:1em; padding-right:1em;">Chorégraphe</th>
    <th style="padding-left:1em; padding-right:1em;">Musique</th>
  </tr>
  </thead>
  <tbody>{{ $last := "" }}{{ range $name, $danse := .Site.Data.chores }}
  <tr>
    <td style="padding-left:1em; padding-right:1em;"{{
        $i := strings.Substr $name 0 1
        }}{{
        if ne $i $last
        }} id="{{$i}}"{{ $last = $i }}{{end}}><em>{{ if $danse.titre }}{{
        $danse.titre
        }}{{ else }}{{ $name }}{{ end
        }}</em></td>
    <td>{{ partial "fiche" $danse }}</td>
    <td>{{ partial "video" $danse.demo }}</td>
    <td>{{ partial "video" $danse.cours }}</td>
    <td>{{ $choregraphe := $danse.choregraphe }}{{ if $choregraphe
      }} {{$choregraphe}} {{
      else }} - {{ end }}</td>
    <td>{{ $musique := $danse.musique }}{{ if $musique
      }} {{$musique}} {{
      else }} - {{ end }}</td>
  </tr>
  {{ end}}
  </tbody>
</table>

</div>

{{ partial "page-footer.html" . }}
