{{ partial "html-header.html" . }}
{{ partial "page-header.html" . }}

{{ partial "menu-chores.html" "debutant" }}

</div>

<div id="content">

  <h1>Toutes les chorégraphies de A à Z</h1>

<p>Cette liste regroupe toutes les danses apprises dans les cours du <a href="https://lcld78.fr/index.php/choregraphies/">club LCLD</a> depuis 2016. Nombre de chorégraphies à ce jour: {{ .Site.Data.chores | len }}</p>

<p>La première vidéo contient une démo de la danse, parfois
accompagnée d'une présentation des pas. La seconde vidéo fournit une
présentation des pas à part.</p>

<p>Si vous identifiez une erreur, par exemple un lien incorrect ou qui ne fonctionne plus, n'hésitez pas à la signalez au <a href="mailto:claude250466@free.fr">ouebmaster</a></p>

<p>Pas trouvé la danse que vous cherchez? Essayez
sur <a href="https://www.copperknob.co.uk">le site CopperKnob</a> où
l'on trouve plus de 150.000 chorégraphies!</p>

<p>Accès rapide: <span  style="font-size: 20pt; ">{{
  $last := "" }}{{
  range $name, $danse := .Site.Data.chores }}{{
  $i := strings.Substr $name 0 1 }}{{
  if ne $i $last }}{{
  $last = $i }}
   &nbsp; <a href="#{{$i}}">{{ $i }}</a>{{ end }}{{ end }}
</span></p>


<table style="margin-left: auto; margin-right: auto; ">
  <thead>
  <tr style="background-color: #ccc;">
    <th>Titre</th>
    <th style="padding-left:1em; padding-right:1em;">Fiche de pas</th>
    <th style="padding-left:1em; padding-right:1em;">Démo en vidéo</th>
    <th style="padding-left:1em; padding-right:1em;">Cours en vidéo</th>
    <th style="padding-left:1em; padding-right:1em;">Chorégraphe</th>
    <th style="padding-left:1em; padding-right:1em;">Musique</th>
  </tr>
  </thead>
  <tbody>{{ $last := "" }}{{ range $name, $danse := .Site.Data.chores }}
  <tr>
    <td style="padding-left:1em; padding-right:1em;"{{
        $i := strings.Substr $name 0 1
        }}{{
        if ne $i $last
        }} id="{{$i}}"{{ $last = $i }}{{end}}><em>{{ if $danse.titre }}{{
        $danse.titre
        }}{{ else }}{{ $name }}{{ end
        }}</em></td>
    <td>{{ partial "fiche" $danse }}</td>
    <td>{{ partial "video" $danse.demo }}</td>
    <td>{{ partial "video" $danse.cours }}</td>
    <td>{{ $choregraphe := $danse.choregraphe }}{{ if $choregraphe
      }} {{$choregraphe}} {{
      else }} - {{ end }}</td>
    <td>{{ $musique := $danse.musique }}{{ if $musique
      }} {{$musique}} {{
      else }} - {{ end }}</td>
  </tr>
  {{ end}}
  </tbody>
</table>

</div>

{{ partial "page-footer.html" . }}
